.main {
  padding: 1rem;
  border: 1px solid #333;
  display: grid;
  grid-template-rows: 1fr auto;
}

.nav {
  list-style: none;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.25rem;
}
