.wrapper {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  grid-template-rows: 1fr 100% 1fr;
}

.content {
  grid-column: 2;
  grid-row: 2;
  padding: 1rem;
  border: 1px solid #333;
  display: grid;
  grid-template-rows: 1fr auto;
}

.content ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.content li {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 200;
}
